<header>
	<div class="header-column">
		<h1>
			<a href="{{ "/" | prepend: site.baseurl }}" class="title-block"><span class="row"><span class="underline">Ekspeditsioon Wunderlich:&nbsp;</span></span><span class="row"><span class="underline">11 sisearhitekti</span></span></a>
			<a href="{{ "/" | prepend: site.baseurl }}" class="title-block"><span class="row"><span class="underline">Expedition Wunderlich:&nbsp;</span></span><span class="row"><span class="underline">11 interior architects</span></span></a>
		</h1>
		<nav><a href="{{ "/info" | prepend: site.baseurl }}" class="info">info</a></nav>
	</div>
</header>

<div id="overlay"></div>