<header>
	<div class="header-column">
		<h1>
			<a href="{{ "/" | prepend: site.baseurl }}" class="title-block"><span class="row"><span class="underline">Ekspeditsioon Wunderlich:&nbsp;</span></span><span class="row"><span class="underline">11 sisearhitekti</span></span></a>
			<a href="{{ "/" | prepend: site.baseurl }}" class="title-block"><span class="row"><span class="underline">Expedition Wunderlich:&nbsp;</span></span><span class="row"><span class="underline">11 interior architects</span></span></a>
		</h1>
		<div class="info">
			<a class="info-text" href="{{ "/info" | prepend: site.baseurl }}">info</a>
		</div>
	</div>
</header>

<div id="overlay"></div>