<h3 class="player-info">{{ include.title }}, intervjuu</h3>

<section class="audio">
	<div class="player">
		<div class="waveform"></div>
		<div class="position"></div>
	</div>

	<nav>
		<div class="player-button paused">
			<svg class="play" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="23.1px" height="20.3px" viewBox="0 0 23.1 20.3" enable-background="new 0 0 23.1 20.3" xml:space="preserve">
				<line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="22.6" y1="10.2" x2="0.5" y2="10.2" />
				<polyline fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="12.9,19.8 22.6,10.2 12.9,0.5" />
			</svg>
			<svg class="pause" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="23.1px" height="20.3px" viewBox="0 0 23.1 20.3" enable-background="new 0 0 23.1 20.3" xml:space="preserve">
				<line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.0" y1="0.5" x2="8.0" y2="19.8"/>
				<line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.1" y1="0.5" x2="15.1" y2="19.8"/>
			</svg>
		</div>

		<div class="player-seek">00:00</div>
		<div class="player-duration">00:00</div>

		<a class="player-logo soundcloud" href="{{ include.audio }}" target="_blank">
			<img src="{{site.baseurl}}/images/sc_sbs_grey_130x20.png" alt="Listen on Soundcloud">
		</a>
	</nav>
</section>

<!--<iframe class="sc-widget" src="//w.soundcloud.com/player/?url={{ include.audio }}"></iframe>-->

<script>
	$(document).ready(function() {
		var isPlaying = false;
		var duration = 0;
		var renderer;
		var scrub;

		var sound = new Howl({
			urls: [ '{{site.baseurl}}/assets/audio/{{ include.file }}.mp3' ],
			buffer: true,
			onload: function(e) {
				duration = sound._duration * 1000;
				$('.player-duration').html(msToTime(sound._duration * 1000));
			},
			onplay: function(e) {
				isPlaying = true;
				$('.player-button').addClass('playing');
				$('.player-button').removeClass('paused');

				window.requestAnimationFrame(step);
			},
			onpause: function(e) {
				isPlaying = false;
				$('.player-button').removeClass('playing');
				$('.player-button').addClass('paused');

				window.cancelAnimationFrame(renderer);
			},
			onend: function(e) {
				isPlaying = false;
				$('.player-button').removeClass('playing');
				$('.player-button').addClass('paused');

				sound.stop();

				window.cancelAnimationFrame(renderer);
			}
		});

		function step(timestamp) {
			renderer = window.requestAnimationFrame(step);
			$('.position').css('width', (sound.pos() / duration * 1000 * 100) + '%');
			$('.player-seek').html(msToTime(sound.pos() * 1000));
		}

		$('.player-button').on('click', function(e) {
			e.preventDefault();

			if (isPlaying) { sound.pause(); }
			else { sound.play(); }
		});

		$('.player').mousemove(function(e) {
			scrub = e.pageX - $('.player').offset().left;
		});

		$('.player').on('click', function() {
			$('.position').css('width', scrub + 'px');
			var seek = duration * (scrub / $('.player').width());
			sound.pos(seek / 1000);

			$('.player-seek').html(msToTime(seek));
		});

		function msToTime(s) {
			var ms = s % 1000;
			s = (s - ms) / 1000;
			var secs = s % 60;
			s = (s - secs) / 60;
			var mins = s % 60;

			if (mins < 10) mins = '0' + mins;
			if (secs < 10) secs = '0' + secs;

			return mins + ':' + secs;
		}
	});
</script>