---
---
@charset "utf-8";
@import 'norm';

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,300,400italic,300italic);

$background: #FFFFE6;
$foreground: #B6E3E7;
$text: #202020;
$regular: 1.25rem;
$small: 1.125rem;
$regular-mobile: 1rem;

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	color: $text;
	background-color: $background;

	// min-width: 22rem;

	font-family: Roboto, Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.4;

	padding-bottom: 2.4rem;
}

#overlay {
	position: fixed; top: 0; right: 0; bottom: 0; left: 0;
	background: $foreground;
	z-index: 9000;
}

header {
	position: relative;

	min-width: 19rem;
	width: 100%;
	margin: 0 0 3.875rem;

	color: $text;
	background: $foreground;

	.header-column {
		-js-display: flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;

		max-width: 66rem;
		margin: 0 auto;
		padding: 0rem 1rem 0rem;

		@media (min-width: 42rem) { flex-flow: row wrap; }

		h1 {
			font-size: $regular-mobile;

			font-weight: 400;
			line-height: 1.3;

			color: $text;

			font-size: $regular-mobile;
			@media (min-width: 42rem) {
				margin: $regular 0;
				font-size: $regular;
			}
		}

		.title-block {
			display: block;

			margin: 0;
			flex-grow: 0;

			@media (min-width: 42rem) {
				display: inline-block;
				margin: 0 3.7rem 0 0;
			}

			.row {
				display: inline-block;
				@media (min-width: 42rem) { display: block; }
			}

			.underline {
				display: inline-block;
				border-bottom: 1px solid transparent;
			}

			@media (min-width: 42rem) {
				&:hover {
					text-decoration: none;

					.underline {
						border-bottom: 1px solid $text;
					}
				}
			}
		}

		.info {
			display: inline-block;
			flex-grow: 1;
			align-self: flex-start;

			margin: 0 0 0.3rem;
			text-align: left;

			@media (min-width: 42rem) {
				text-align: right;
				align-self: flex-end;

				margin: 0 0 $regular;
			}

			.info-text {
				display: inline-block;
				margin: 0;
				padding-bottom: 0.8rem;

				font-family: Roboto;
				font-weight: 400;
				line-height: 0;
				text-transform: uppercase;

				color: $text;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				font-size: $regular-mobile;
				@media (min-width: 42rem) {
					font-size: $regular;

					&:hover {
						border-bottom: 1px solid $text;
					}
				}
			}
		}
	}
}

.page-info header {
	margin-bottom: 4.8rem;
}

.large-column {
	position: relative;

	max-width: 66rem;
	margin: 0 auto;
	padding: 1rem;
}

p {
	width: 100%;
	max-width: 48rem;
	margin: $regular auto;
	padding: 0 1rem;

	font-size: $regular-mobile;
	@media (min-width: 42rem) { font-size: $regular; }
}

h2 {
	margin: 4rem 0 3rem;

	font-family: Montserrat;
	font-size: 1.875rem;

	@media (min-width: 42rem) {
		margin: 4rem 0 3.6rem;
		font-size: 3.875rem;
	}

	line-height: 1;
	text-align: center;

	.year {
		display: block;
		margin: 1rem;

		font-weight: 300;

		@media (min-width: 42rem) {
			display: inline-block;
			margin: 0;
		}

		font-weight: 300;
		font-size: $regular;
	}

	.year-slash {
		display: none;
		padding: 0 0.8rem;
		@media (min-width: 42rem) { display: inline; }
	}
}

h3 {
	max-width: 48rem;
	margin: $regular auto 0;
	padding: 0 1rem;

	font-weight: 500;

	font-size: $regular-mobile;
	@media (min-width: 42rem) { font-size: $regular; }
}

h4 {
	max-width: 48rem;
	margin: $regular auto;
	padding: 0 1rem;

	font-weight: 400;
	text-decoration: underline;

	font-size: $regular-mobile;
	@media (min-width: 42rem) { font-size: 1.17rem; }
}

h5 {
	max-width: 48rem;
	margin: $regular auto 0;
	padding: 0 1rem;

	font-weight: 400;

	font-size: $regular-mobile;
	@media (min-width: 42rem) { font-size: $regular; }
}

.text-ref {
	font-size: $small;
	font-weight: 300;
	margin-bottom: 0;
}

a {
	color: $text;
	text-decoration: none;

	@media (min-width: 42rem) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.academy {
	margin: 0 auto;
	font-weight: 400;
}

.credits {
	margin-top: 0;
}

footer {
	max-width: 66rem;
	margin: 3rem auto 2.4rem;
	padding: 0 1.2rem;

	p { margin: 0; }

	.back-button-container {
		display: block;
		margin: 1rem 0 6rem;
		text-align: center;

		.back-button {
			font-size: $regular;
			font-weight: 400;
		}
	}

	.logos {
		-js-display: flex;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		margin-top: 0.8rem;
		margin-left: 0.1rem;

		.logo {
			margin-right: 1rem;
			margin-bottom: 1rem;

			.fill-gray {
				fill: #212121;
			}

			@media (min-width: 42rem) {
				&:hover {
					.fill-gray {
						fill: black;
					}
				}
			}

			&:active {
				.fill-gray {
					fill: gray;
				}
			}
		}
	}
}

.break {
	margin: 1rem auto;
	@media (min-width: 42rem) { margin: 2rem auto; }

	&:before{
		content: "-------------";
		display: block;

		font-size: 1.5rem;
		text-align: center;
	}
}

.grid {
	-js-display: flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	max-width: 67.5rem;
	margin: 3.875rem auto;

	.item {
		display: block;
		width: 18.75rem;
		margin: 1rem 1.875rem 2.4rem;
		text-align: center;

		.image {
			display: block;

			min-width: 18.75rem;
			width: 18.75rem;
			height: 18.75rem;
			margin-bottom: 1rem;

			background-color: lightgrey;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.name {
			display: inline-block;

			margin: auto;

			font-family: Montserrat;
			font-size: 2rem;
			line-height: 1;
			font-weight: bold;

			border-bottom: 2px solid transparent;
		}

		@media (min-width: 42rem) {
			&:hover .name {
				text-decoration: none;
				border-bottom: 2px solid $text;
			}
		}
	}

	.item-pseudo {
		margin-top: 0;
		margin-bottom: 0;

		padding-top: 0;
		padding-bottom: 0;
	}
}

.p01 { background-image: url('/images/p01.jpg'); }
.p02 { background-image: url('/images/p02.jpg'); }
.p03 { background-image: url('/images/p03.jpg'); }
.p04 { background-image: url('/images/p04.jpg'); }
.p05 { background-image: url('/images/p05.jpg'); }
.p06 { background-image: url('/images/p06.jpg'); }
.p07 { background-image: url('/images/p07.jpg'); }
.p08 { background-image: url('/images/p08.jpg'); }
.p09 { background-image: url('/images/p09.jpg'); }
.p10 { background-image: url('/images/p10.jpg'); }

.image-work {
	position: relative;

	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	min-height: 100%;

	margin: 0;

	background-color: $background;
	background-size: cover;
    background-position: 50% 100%;

	cursor: s-resize;
}

.image-portrait {
	position: relative;

	width: 64rem;
	height: 64rem;
	margin: 3rem auto;

	@media (max-width: 66rem) {
		width: auto;
		height: 100vw;
		margin: 3.6rem auto;
	}

	background-color: lightgray;

	background-size: cover;
    background-position: 50% 50%;
}

.audio {
	max-width: 48rem;
	margin: 3rem auto;
	padding: 0 1rem;

	font-size: $small;

	@media (min-width: 42rem) { margin: 3.6rem auto; }

	.player-info {
		font-size: $regular-mobile;
		@media (min-width: 42rem) { font-size: $small; }
	}

	.player {
		position: relative;

		width: 100%;
		height: 0.5rem;
		margin: 2rem 0 1.6rem;

		border: 0;

		cursor: pointer;

		.waveform {
			position: absolute;

			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			background-color: $foreground;

			z-index: 50;
		}

		.position {
			position: absolute;

			opacity: 1.0;

			height: 100%;
			width: 0;

			background-color: $text;
			transition: width 100ms linear;

			z-index: 100;
		}
	}

	nav {
		-js-display: flex;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: stretch;

		font-size: $small;

		.player-button {
			flex-grow: 1;
			align-self: center;

			height: 1.5625rem;
			padding-top: 0.15rem;

			stroke: #231F20;
			cursor: pointer;

			.play,
			.pause {
				width: 1rem;
			}

			&.playing .play {
				display: none;
			}

			&.playing .pause {
				display: block;
			}

			&.paused .play {
				display: block;
			}

			&.paused .pause {
				display: none;
			}

			@media (min-width: 42rem) {
				&:hover {
					stroke: $foreground;
				}
			}

			&:active {
				stroke: black;
			}
		}

		.player-timing {
			flex-grow: 1;
			height: 1.5625rem;
			text-align: center;

			div {
				display: inline-block;
				margin: 0 0.7rem;
			}
		}

		.player-logo {
			flex-grow: 9;
			align-self: center;

			height: 1.5625rem;

			text-align: right;

			img {
				width: 6rem;
				margin-bottom: 0;

				@media (min-width: 42rem) { width: 8.8rem; }
			}
		}
	}
}

article {
	.drawings {
		-js-display: flex;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		margin: 3rem 1rem;
		@media (max-width: 28rem) { margin: 1.5rem 1rem; }

		.drawing {
			margin: 1.5rem 2.4rem;
			@media (max-width: 28rem) { margin: 1.2rem 0; }

			img {
				display: block;

				max-width: 24rem;
				width: 100%;

				margin-bottom: $regular;
			}

			.caption {
				max-width: 24rem;
				padding: 0;
				font-size: 0.9rem;
				margin: 0 auto $regular/2;
			}
		}
	}
}

.page- {
	.back-button {
		display: none;
	}
}

.sc-widget,
#widget {
	position: absolute;
	top: 0;
	left: 0;

	visibility: hidden !important;
	z-index: -5000;
}

img[data-action="zoom"] {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

img[data-action="zoom"] {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
	position: relative;
	z-index: 666;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
img.zoom-img {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}
.zoom-overlay {
	z-index: 420;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	filter: "alpha(opacity=0)";
	opacity: 0;
	-webkit-transition:      opacity 300ms;
	-o-transition:      opacity 300ms;
	transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
	filter: "alpha(opacity=100)";
	opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
	cursor: default;
}

// .zoom-img,
// .zoom-img-wrap {
// 	position: relative;
// 	z-index: 666;
// 	-webkit-transition: all 300ms;
// 	-o-transition: all 300ms;
// 	transition: all 300ms;
// }

// img.zoom-img {
// 	cursor: pointer;
// 	cursor: -webkit-zoom-out;
// 	cursor: -moz-zoom-out;
// }

// .zoom-overlay {
// 	z-index: 420;
// 	background: #fff;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	pointer-events: none;
// 	filter: "alpha(opacity=0)";
// 	opacity: 0;
// 	-webkit-transition: opacity 300ms;
// 	-o-transition: opacity 300ms;
// 	transition: opacity 300ms;
// }

// .zoom-overlay-open .zoom-overlay {
// 	filter: "alpha(opacity=100)";
// 	opacity: 1;
// }
